<template>
  <p>hieu 123</p>
</template>
<script>
  export default{
    data(){

    },
    props: {
      dialog: {
        default: false
      },
      item_delete: {
        type: Object,
        default: () => {
            return {}
        }
      }
    },
    methods: {
      remove(){
        console.log('vao rm', this.item_delete);
        const index = this.allCategories.indexOf(this.item_delete);
        this.allCategories.splice(index, 1);
        this.removeCategory(this.item_delete.id)
      }
    }
  }
</script>
