<template>
    <div>
        <v-spacer></v-spacer>

        <v-card-title>
            <v-flex xs4>
                <div>
                    <h1 style="color:blueviolet">Thêm mới danh mục</h1>
                </div>
            </v-flex>
            <v-flex xs2 offset-xs6>
                <v-btn @click="$router.push({ name: 'category'})" color="warning" dark>Quay lại
                    <v-icon right>fa-arrow-circle-left</v-icon>
                </v-btn>
            </v-flex>
        </v-card-title>
        <form-category @submit="submitForm"></form-category>
    </div>
</template>

<script>
    import FormCategory from './FormCategory'
    import { mapActions } from 'vuex'

    export default {
        components: {
            FormCategory
        },
        methods: {
            ...mapActions('notify',['showNotify']),
            ...mapActions('category',['createCategory','removeCategory']),
            submitForm (formData) {
                this.createCategory({
                    category: formData,
                    cb: (response) => {
                        this.$toastr.success('Thành công !!!')

                        this.$router.push({
                            name: 'category',
                            query: {
                                reload: null
                            }
                        })
                    }
                })
            }
        }
    }
</script>
