<template>
    <div>
        <v-spacer></v-spacer>

        <v-card-title>
           <v-flex xs4>
               <div>
                   <h1 style="color:blueviolet">Chỉnh sửa danh mục</h1>
               </div>
           </v-flex>
           <v-flex xs2 offset-xs6>
               <v-btn @click="$router.push({ name: 'category'})" color="warning" dark>Quay lại
                   <v-icon right>fa-arrow-circle-left</v-icon>
               </v-btn>
           </v-flex>
       </v-card-title>
        <form-category v-if="categoryDetail.id == this.$route.params.id " @submit="submitForm"  type="edit" :dataCategory="categoryDetail"></form-category>
    </div>
</template>

<script>
    import FormCategory from './FormCategory'
    import {mapActions, mapGetters} from 'vuex'

    export default {
        components: {
            FormCategory
        },
        data() {
            return {
                category: {}
            }
        },
        computed: {
            ...mapGetters('category',['categoryDetail']),
        },

        methods: {
            ...mapActions('category',['getCategory','updateCategory']),
            submitForm (formData) {
                this.updateCategory({
                    id: this.$route.params.id,
                    category: formData,
                    cb: (response) => {
                        this.$toastr.success('Thành công')
                        this.$router.push({
                            name: 'category.edit',
                            params: { id: this.$route.params.id }
                        })

                    }
                })
            }
        },
        created() {
            this.getCategory({id: this.$route.params.id})
        }
    }
</script>
