<template>
    <div style="">
        <v-card>
            <v-card-title>
                <v-flex md10 offset-md1>
                    <form @submit.prevent="validateBeforeSubmit">
                        <v-text-field
                                v-validate="'required|min:3|max:100'"
                                v-model="category.name"
                                :error-messages="errors.collect('name')"
                                label="Tên thể loại"
                                data-vv-name="name"
                                prepend-icon="face"
                                required
                        ></v-text-field>
                        <v-text-field
                                v-validate="'required'"
                                v-model="category.slug"
                                :error-messages="errors.collect('slug')"
                                label="Đường dẫn"
                                data-vv-name="slug"
                                prepend-icon="face"

                        ></v-text-field>
                        <v-text-field
                                v-validate="'required'"
                                v-model="category.description"
                                :error-messages="errors.collect('description')"
                                label="Mô tả"
                                data-vv-name="description"
                                prepend-icon="face"
                                required
                        ></v-text-field>
                        <v-text-field
                                v-validate="'required'"
                                v-model="category.content"
                                :error-messages="errors.collect('content')"
                                label="Nội dung"
                                data-vv-name="content"
                                prepend-icon="face"
                                required
                        ></v-text-field>


                        <v-flex xs12 text-xs-center>
                            <v-btn color="primary"
                                    type="submit"
                            >
                                <template v-if="isCreate">
                                    <v-icon right>add</v-icon>
                                    Tạo
                                </template>
                                <template v-else>
                                    <v-icon left>save</v-icon>
                                    Lưu
                                </template>
                            </v-btn>
                        </v-flex>
                    </form>
                </v-flex>
            </v-card-title>
        </v-card>
    </div>
</template>

<script>

    export default {
        name: 'CategoryForm',
        computed: {
            isCreate() {
                return this.type === 'create'
            }
        },
        props: {
            type: {
                type: String,
                default: '  create'
            },
            dataCategory: {
                type: Object,
                default: () => {
                    return {}
                }
            }
        },
        data() {
            return {
                category: {
                    name: '',
                    slug: '',
                    description: '',
                    content: ''
                }
            }
        },
        methods: {
            setInitData() {
                this.category = {...this.category, ...this.dataCategory}
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        this.$emit('submit', this.category)
                    }
                    // else {
                    //     //show loi
                    //     alert('loi mat roi')
                    //     // this.$store.dispatch('showNotify', {
                    //     //     text: this.$t('alert.invalid'),
                    //     //     type: 'warning'
                    //     // })
                    // }
                })
            },
            clear() {
                this.name = '';
                this.select = null;
                this.$validator.reset()
            }
        },
        //check prop dataCategory có đc truyền vào ko thì gọi hàm setinitData()
        created() {
            !!this.dataCategory && this.setInitData()
        }
    }
</script>
