<template>
    <div style="padding-top: 30px">
        <div>
            <h1 style="color: blueviolet">Danh sách danh mục</h1>
        </div>
        <v-card>
            <v-card-title>
                <v-flex xs2>
                    <div @click="$router.push({ name: 'category.create'})">
                        <v-btn color="primary" dark>Thêm
                            <v-icon right>fas fa-plus</v-icon>
                        </v-btn>
                    </div>
                </v-flex>
                <v-flex xs5 offset-xs5>
                    <v-text-field
                            v-model="search"
                            append-icon="search"
                            label="Tìm kiếm"
                            single-line
                            hide-details
                    ></v-text-field>
                </v-flex>
            </v-card-title>
            <v-data-table :headers="headers"
                          :items="orderedCategories"
                          :search="search">
                <template slot="items" slot-scope="props">
                    <td>{{ props.index +1 }}</td>
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.content }}</td>
                    <td>{{ props.item.description }}</td>
                    <td>
                        <v-tooltip bottom>
                            <v-icon
                                    slot="activator"
                                    color="cyan"
                                    dark
                                    class="mr-2" @click="$router.push({ name: 'category.edit', params: { id: props.item.id }})"
                            >edit
                            </v-icon>
                            <span>Chỉnh sửa</span>
                        </v-tooltip>

                        <v-tooltip bottom>
                            <v-icon class="" @click="showdialog(props.item)" slot="activator" color="red" dark>fas fa-trash</v-icon>
                            <span>Xóa</span>
                        </v-tooltip>
                    </td>
                </template>
                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                    Your search for "{{ search }}" found no results.
                </v-alert>
            </v-data-table>
               <v-dialog v-model="dialog"  max-width="350">
                    <v-card>
                        <v-card-title class="headline" style="font-size: 18px !important">Bạn có chắc chắn muốn
                            xóa?
                        </v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green " flat @click.native="dialog = false">Cancel</v-btn>
                            <v-btn color="red" flat @click="remove()" @click.native="dialog = false">
                                OK
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
        </v-card>
    </div>
</template>

<script>
    import FormCategory from './FormCategory'
    import {mapActions, mapGetters, mapState} from 'vuex'

    export default {
        components: {
            FormCategory
        },
        data() {
            return {
                search: '',
                item_delete: null,
                dialog: false,
                dialogshow: false,
                headers: [
                    {
                        text: 'STT',
                        align: 'left',
                        sortable: true,
                        value: 'id'
                    },
                    {text: 'Tên danh mục', value: 'name'},
                    {text: 'Mô tả', value: 'description'},
                    {text: 'Ngày tạo', value: 'content'},
                    {text: 'Hành động', sortable: false}
                ]
            }
        },
        computed: {
            ...mapGetters('category',['allCategories','categoryDetail']),
            orderedCategories: function() {
                console.log(this.allCategories)
                return this.allCategories
            }
        },

        methods: {
            ...mapActions('category',['removeCategory','getAllCategory','getCategory']),
            showdialog(item){
              this.item_delete = item;
              this.dialog = true;
            },
            remove() {
                const index = this.allCategories.indexOf(this.item_delete);
                this.allCategories.splice(index, 1);
                this.removeCategory({
                    id: this.item_delete.id,
                    cb: (response)  => {
                        this.$toastr.success('Thành công !!!')
                    }
                })
            }
        },
        created() {
            this.getAllCategory()
        },
    }
</script>

<style scoped>

    td {
        font-size: 16px;
    }
</style>
