<template>

    <v-navigation-drawer v-model="drawer.drawer" fixed app>
        <v-flex xs3 offset-xs4>
            <v-avatar :tile="tile" :size="avatarSize" :style="center" color="grey lighten-4">
                <img src="https://vuetifyjs.com/apple-touch-icon-180x180.png" alt="avatar">
            </v-avatar>
        </v-flex>
        <v-list dense>
            <v-list-tile @click="$router.push({ name: 'home'})">
                <v-list-tile-action>
                    <v-icon>fas fa-home</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Home</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="$router.push({ name: 'user'})">
                <v-list-tile-action>
                    <v-icon>fas fa-user</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>User</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="$router.push({ name: 'category'})">
                <v-list-tile-action>
                    <v-icon>fas fa-tags</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Category</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        data() {
            return {
                tile: false,
                avatarSize : 70,
                center: 'text-align: center'
            }
        },
        props: ['drawer']
    }
</script>
