<template>
    <v-toolbar color="indigo" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer.drawer = !drawer.drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Blog Nguyên Hà</v-toolbar-title>
    </v-toolbar>
</template>

<script>
    export default {
        props: ['drawer']
    }
</script>
