<template>
    <div>
        <v-breadcrumbs>
            <v-icon slot="divider">forward</v-icon>

            <v-breadcrumbs-item
                    v-for="item in items"
                    :disabled="item.disabled"
                    :key="item.text"
            >
                {{ item.text }}
            </v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-spacer></v-spacer>

        <v-card-title>
            <v-flex xs3>
                <div>
                    <v-btn color="primary" dark>Tạo người dùng mới
                        <v-icon right>fas fa-plus</v-icon>
                    </v-btn>
                </div>
            </v-flex>
            <v-flex xs2 offset-xs7 >
                <v-btn @click="$router.push({ name: '/index'})" color="warning" dark>Back
                    <v-icon right>fa-arrow-circle-left</v-icon>
                </v-btn>
            </v-flex>
        </v-card-title>
        <user-form></user-form>
    </div>
</template>

<script>
    import UserForm from './FormUser'

    export default {
        components: {
            UserForm
        }
    }
</script>
