<template>
    <div>
        <v-breadcrumbs>
            <v-icon slot="divider">forward</v-icon>

            <v-breadcrumbs-item
                    v-for="item in items"
                    :disabled="item.disabled"
                    :key="item.text"
            >
                {{ item.text }}
            </v-breadcrumbs-item>
        </v-breadcrumbs>
        <h2 style="margin-bottom: 30px">
            <v-btn color="cyan"><span style="color: white">Chỉnh sửa người dùng</span></v-btn>
        </h2>
        <user-form></user-form>
    </div>
</template>

<script>
    import UserForm from './FormUser'
    export default {
        components : {
            UserForm
        }
    }
</script>
