<template>

    <div style="padding-top: 30px">

        <v-card>
            <v-card-title>
                <v-flex md10 offset-md1>
                    <form>
                        <v-text-field
                                v-validate="'required|max:10'"
                                v-model="name"
                                :error-messages="errors.collect('name')"
                                label="Tên tài khoản"
                                prepend-icon="person"
                                data-vv-name="name"
                                required
                        ></v-text-field>
                        <v-text-field
                                v-validate="'required|email'"
                                v-model="email"
                                :error-messages="errors.collect('email')"
                                label="E-mail"
                                prepend-icon="email"
                                data-vv-name="email"
                                required
                        ></v-text-field>
                        <v-select
                                v-validate="'required'"
                                :items="permission"
                                v-model="select"
                                :error-messages="errors.has('select') ? errors.collect('select') : []"
                                label="Chức vụ"
                                prepend-icon="face"
                                data-vv-name="permission"

                                required
                        ></v-select>

                        <v-text-field
                                :error-messages="errors.has('password') ? errors.collect('password') : []"
                                prepend-icon="lock"
                                v-validate="'required|min:6'"
                                name="password"
                                label="Mật khẩu"
                                data-vv-name="password"
                                type="password"
                                v-model="password"
                        >
                        </v-text-field>
                        <v-text-field
                                :error-messages="errors.has('password_confirmation') ? errors.collect('password_confirmation') : []"
                                prepend-icon="lock"
                                v-validate="'required|min:6'"
                                name="password_confirmation"
                                label="Nhập lại mật khẩu"
                                data-vv-name="password_confirmation"
                                type="password"
                                v-model="password_confirmation"
                        >
                        </v-text-field>

                        <v-btn type="submit" color="primary" @click.stop.prevent="submit()">submit</v-btn>
                        <v-btn type="reset" @click="clear">clear</v-btn>
                    </form>
                </v-flex>
            </v-card-title>
        </v-card>
    </div>
</template>

<script>

    export default {
        name: 'UserForm',
        $_veeValidate: {
            validator: 'new'
        },
        data: () => ({
            items: [
                {
                    text: 'User',
                    disabled: false,
                },
                {
                    text: 'Create',
                    disabled: true,

                }
            ],
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
            select: null,
            permission: [
                'Super Admin',
                'Trưởng phòng',
                'Nhân viên'
            ],
            checkbox: null,
            dictionary: {
                attributes: {
                    email: 'E-mail Address'
                    // custom attributes
                },
                custom: {
                    name: {
                        required: () => 'Name can not be empty',
                        max: 'The name field may not be greater than 10 characters'
                        // custom messages
                    },
                    select: {
                        required: 'Select field is required'
                    }
                }
            }
        }),
        methods: {
            submit() {
                this.$validator.validateAll()
            },
            clear() {
                this.name = '';
                this.email = '';
                this.select = null;
                this.checkbox = null;
                this.$validator.reset()
            }
        }
    }
</script>
