<template>
    <div style="padding-top: 30px">
        <h2 style="margin-bottom: 30px">Danh sách người dùng</h2>
        <v-card>
            <v-card-title>
                <v-flex xs2>
                    <div @click="$router.push({ name: 'create'})">
                        <v-btn color="primary" dark>Thêm
                            <v-icon right>fas fa-plus</v-icon>
                        </v-btn>
                    </div>
                </v-flex>
                <v-flex xs5 offset-xs5>
                    <v-text-field
                            v-model="search"
                            append-icon="search"
                            label="Tìm kiếm"
                            single-line
                            hide-details
                    ></v-text-field>
                </v-flex>
            </v-card-title>
            <v-data-table
                    :headers="headers"
                    :items="desserts"
                    :search="search"
                    :size="size"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.name }}</td>
                    <td class="">{{ props.item.calories }}</td>
                    <td class="">{{ props.item.fat }}</td>
                    <td class="">{{ props.item.carbs }}</td>
                    <td class="">
                        <v-tooltip bottom>
                            <v-icon
                                    slot="activator"
                                    color="blue"
                                    dark
                                    class="mr-2" @click="dialogshow = true"
                            >fas fa-eye
                            </v-icon>
                            <span>Xem chi tiết</span>
                            <v-dialog
                                    v-model="dialogshow"
                                    max-width="500"
                            >
                                <v-card>
                                    <v-card-title class="headline">Thông tin người dùng : User1234</v-card-title>

                                    <user-form></user-form>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                                color="primary darken-1"

                                                @click="dialogshow = false"
                                        >
                                            Đóng
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-tooltip>

                        <v-tooltip bottom>
                            <v-icon
                                    slot="activator"
                                    color="cyan"
                                    dark
                                    class="mr-2" @click="$router.push({ name: 'edit'})"
                            >edit
                            </v-icon>
                            <span>Chỉnh sửa</span>
                        </v-tooltip>


                        <v-dialog v-model="dialog" title="Xóa" persistent max-width="350">
                            <v-icon class=" mb-2"
                                    slot="activator"
                                    color="red"
                                    dark
                            >fas fa-trash
                            </v-icon>
                            <v-card>
                                <v-card-title class="headline" style="font-size: 18px !important">Bạn có chắc chắn muốn
                                    xóa?
                                </v-card-title>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="green " flat @click.native="dialog = false">Cancel</v-btn>
                                    <v-btn color="red" flat @click.native="dialog = false">OK</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </td>
                </template>
                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                    Your search for "{{ search }}" found no results.
                </v-alert>
            </v-data-table>
        </v-card>
    </div>
</template>

<script>
    import UserForm from './FormUser'
    export default {
        components: {
          UserForm
        },

        data() {
            return {
                search: '',
                dialog: false,
                dialogshow: false,
                size: '20px',
                headers: [
                    {
                        text: 'STT',
                        align: 'left',
                        sortable: true,
                        value: 'name'
                    },
                    {text: 'Tên tài khoản', value: 'calories'},
                    {text: 'Email', value: 'fat'},
                    {text: 'Chức vụ', value: 'carbs'},
                    {text: 'Hành động', value: 'protein', sortable: false}
                ]
            }
        }
    }
</script>

<style scoped>
    /*th { font-size: 20px !important; }*/
    /*td { font-size: 16px !important; }*/


    td {
        font-size: 16px;
    }
</style>
