<template>
    <div>
        <input type="text" v-model="search" placeholder="Search.."/>
        <input type="text" @keyup="tinhPageCount" v-model="pagination" placeholder="Pagination.."/>
        <table>
        <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        </tr>
        <tr v-for="(item, index) in paginatedData" v-bind="item.id">
        <td>{{ index + 1 }}</td>
        <td v-for="i in item" v-bind="i.id">
        {{ i }}
        </td>
        </tr>
        </table>

        <button @click="prevPage" :disabled="pageNumber == 0">
            Previous
        </button>

        <button @click="nextPage" :disabled="pageNumber == pageCount -1 ">
            Next
        </button>
        pageNumber  {{ pageNumber }}

    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {

        computed: {
            pageCount() {
                return this.$store.state.table.pageCount;
            },
            pageNumber() {
                return this.$store.state.table.pageNumber;
            },
            paginatedData() {
                return this.$store.getters.paginatedData;
            },

            search : {
                get: function () {
                    return this.$store.state.table.search;
                },
                // setter
                set: function (newValue) {
                    this.$store.state.table.search = newValue;
                }
            },
            pagination : {
                get: function () {
                    return this.$store.state.table.pagination;
                },
                // setter
                set: function (newValue) {
                    this.$store.state.table.pagination = newValue;
                }
            }
        },
        methods: {
            // cach mapActions
            ...mapActions([
                'nextPage',
                'prevPage',
                'tinhPageCount'
            ])
        }

    }
</script>

<style scoped>
    tr, td, table, th {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 20px 40px;
    }

    li {
        display: inline;
    }

</style>
