<template>
    <v-app id="inspire">
        <!--Navigaiton-->

        <navigation :drawer="drawer"></navigation>
        <!--toolbar -->
        <toolbar :drawer="drawer"></toolbar>
        <v-content>
            <v-flex xs10 offset-xs1>
                <router-view/>
            </v-flex>
        </v-content>
        <!--footer-->
        <footer></footer>
    </v-app>
</template>

<script>
    import Navigation from './components/layouts/Navigation';
    import Toolbar from './components/layouts/Toolbar';
    import Footer from './components/layouts/Footer';

    export default {
        data() {
            return {
                drawer: [{drawer: null}],
            }
        },
        components: {
            Navigation,
            Toolbar,
            Footer
        },
        methods: {}
    }
</script>
